  main {
    background-color: white;
    width: 250px;
    height: 350px;
  }
  a {
    text-decoration: none;
    background-color: darkgreen;
    color: black;
    border-radius: 5px;

  }
  .numbers {
    color: darkgreen;
    
  }
 a{padding: 10px 70px 10px 70px;
  color: white;
}
  main {
    position: fixed;
    left: 650px;
    bottom: 150px;
    border-radius: 0 20px 20px 0;
    text-align: left;
    padding-left: 30px;
  }
  span {
    font-size: small;
    color: black;
    color: gray;
  }
  img {
    border-radius: 20px 0 0 20px;
    position: fixed;
    left: 350px;
    top: 143px;
    width: 300px;
    height: 350px;
  }
  h5 {
    font-size: x-small;
 color: gray; 
  }
  p {
    color: gray;
  }
  html {
    background-color: lavenderblush;
    width: 50%;
  }

  

  
